body {
  font-family: Arial;
  font-size: 20px;
}
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap {
  width: 70%;
  height: 200px;
  margin: 50px auto;
  background: #fff;
}
.wrap h1{
  line-height: 200px;
  font-size: 20px;
  text-align: center;
}
.effect{
  box-shadow: 10px 20px 20px rgba(0,0,0,0.3);
  -webkit-box-shadow:10px 20px 20px rgba(0,0,0,0.3);
  -moz-box-shadow:10px 20px 20px rgba(0,0,0,0.3);
  -o-box-shadow:10px 20px 20px rgba(0,0,0,0.3);
}
